/* === FONTES === */
@font-face {
  font-family: 'Outfit';
  src: url('Outfit-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Young Serif';
  src: url('YoungSerif-Regular.ttf') format('truetype');
}

/* === HEADER PRINCIPAL === */

body {
  padding: 0px;
  margin: 0px;
}

.container-header {
  background-image: url(midias/torcida-gremio-couto-pereira-e1723466513385.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
height: 300px;
  padding: 20px;
  box-shadow: 0px 0px 5px black;
}

.container-header h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-shadow: 1px 1px 3px black;
  font-size: 2.2em;
  margin-top: 2%;
  margin-left: 10%;
}

.container-header h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.87);
  font-size: 1.9em;
 margin-top: -2%;
 margin-bottom: 3%;
   margin-left: 10%;
   color: rgb(46, 112, 255);

}

.container-header p {
  margin-top: -2%;
  color: white;
  width: 325px;
  text-align: justify;
    margin-left: 10%;
     text-shadow: 1px 1px 1px black;

    

}


/* === BOTÃO === */
button {
  padding: 6px;
  border-radius: 10px;
  color: white;
  background-color: rgb(49, 115, 255);
  border: 0;
    margin-left: 10%;
      transition: transform 0.3s ease;
   cursor: pointer;
   box-shadow: 1px 1px 12px black;

}

button:hover {
    transform: scale(1.05);
    background-color: rgb(38, 96, 253);


}

/* === NAV === */
nav {
  margin-top: 41px;
  margin-bottom: -10px;
    text-align: center;

}

nav a {
  color: white;
  text-decoration: none;
padding: 3px 15px;
text-shadow: 1px 1px 1px black;

}

nav a:hover {
  text-decoration: underline;
    background-color: rgb(38, 96, 253);
    border-radius: 8px;
   
}

/* === SÍMBOLO GRÊMIO === */
.simbolo-gremio {
  display: flex;
  width: 15%;
  margin: 30px auto;
}

/* === CONTAINER 2 === */
.container-2 h1 {
    font-family: Arial, Helvetica, sans-serif;

  margin-top: 3%;
  text-align: center;
}

.container-2 h2 {
    font-family: Arial, Helvetica, sans-serif;
  
  text-align: center;
  font-size: 1.1em;
  color: rgb(75, 75, 75);
}

/* === CARDS === */
.card-grid {
    font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
   max-width: 960px; /* 3 cards de 280px + espaços */
  margin: 0 auto; /* centraliza o grid */
}

.card {
  background-color: white;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 20px;
  width: 280px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transition: transform 0.3s ease;
  text-align: center;

h2 {
    font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 102, 255);
  text-shadow: 1px 1px 1px rgba(0, 102, 255, 0.301);
}


}

.card:hover {
  transform: scale(1.05);
}

#vantagens {
    font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.subtitulo {
    font-family: Arial, Helvetica, sans-serif;
  width: 650px;
  margin: auto;
  text-align: center;
  margin-bottom: 3%;
}
.container-vantagens {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}

.vantagem {
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* responsividade */

.decisoes {
    object-fit: cover; /* ou 'contain', depende do efeito desejado */
  display: block;   /* remove espaço em branco embaixo da imagem */  
height: 340px;
 
}

}

.vantagem.invertido {
  flex-direction: row-reverse; /* Inverte imagem e texto */
}

.vantagem img {
  width: 500px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0px 0px 5px black;
}

.vantagem div {
  max-width: 500px;
}

.vantagem h2 {
    font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  margin-bottom: 10px;
}

.vantagem p {
    font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}


.cta {
  display: block;
  width: 100%;
  background-color: rgba(0, 68, 255, 0.925);
  padding: 15px 0;
  text-align: center;
  margin-top: 1%;
}

.cta p {
  color: white;
  margin: 0;
  font-size: 1.0em;
  text-shadow: 1px 1px 1px black;
}

.cta a {
   font-size: 1.0em;
  color: white;
  text-decoration: none;
}





/* === RESPONSIVO (MOBILE) === */
@media (max-width: 428px) {



  .container-header h1 {
    margin-top: 9%;
    font-size: 2.0em;
  }

  .container-header h2 {
    font-size: 1.7em;
    margin-top: -5%;
  }

  .container-header p {
    width: 90%;
  }
  
  nav {
    margin-top: 13%;
    font-size: 0.9em;
  }

  .card {
    width: 90%;
  }

  .simbolo-gremio {
    width: 30%;
  }

  .subtitulo {
    width: 330px;
  }
  .vantagem img {
    display: block;
    width: 100%;
   margin: auto;
  }

.vantagem {
  .decisoes {
    
    height: 260px;
  }
  }
}


/* Tablets */
@media (min-width: 577px) and (max-width: 992px) {
  .card {
    width: 48%;
    font-size: 1em;
  }
}


